<div class="container" style="background-color: white;">
    <br>
    <h1>Đặt hàng</h1>
    <br>
    <div class="row">
        <div class="col-md-6" style="border-right: 1px solid gray;">
            <table class="table">
                <tbody>
                    <tr>
                        <td>sdsadas</td>
                        <td>sadasd</td>
                        <td>sdsadasd@example.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6"></div>
    </div>
    <br>
</div>