<div class="container" style="background-color: white;">
    <br>
    <h1>Đặt hàng</h1>
    <br>
    <div class="row">
        <div class="col-md-7" style="border-right: 1px solid gray;">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tên sản phẩm</th>
                        <th>Giá tiền</th>
                        <th>Số lượng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products">
                        <td>
                            <img [src]="p.image" alt="" style="width: 50px;">
                        </td>
                        <td><b>{{ p.name }}</b></td>
                        <td>{{ p.price }} đ</td>
                        <td>{{ p.amount }}</td>
                        <td>
                            <button mat-button (click)="removeProduct(p.id)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <h3>Tổng tiền: <b>{{ totalPrice }} đ</b></h3>
            <hr>
            <h5>Thông tin giao hàng</h5>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Tên người nhận</mat-label>
                    <input matInput placeholder="Tên người nhận" type="text" formControlName="recipientName">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Số điện thoại người nhận hàng</mat-label>
                    <input matInput placeholder="Số điện thoại người nhận" type="text" formControlName="recipientPhone">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Địa chỉ nhận hàng</mat-label>
                    <textarea style="height: 150px;" matInput placeholder="Địa chỉ nhận hàng" type="text"
                        formControlName="recipientAddress"></textarea>
                </mat-form-field>
            </form>
            <mat-radio-group>
                <mat-radio-button checked>Thanh toán khi nhận hàng</mat-radio-button>
            </mat-radio-group>
            <br>
            <div style="justify-content: flex-end; display: flex;">
                <button [disabled]="products.length == 0 || formGroup.invalid"  mat-raised-button color="primary" style="width: 200px;" (click)="checkoutProcess()">
                    <i class="fas fa-shopping-cart"></i> Đặt hàng
                </button>
            </div>
        </div>
    </div>
    <br>
</div>