<mat-toolbar color="primary">
    <button mat-button>
        <h6 routerLink="/">ShopXML</h6>
    </button>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menuCart">
        Giỏ hàng <i class="fas fa-shopping-cart"></i>
    </button>
    <mat-menu #menuCart="matMenu">
        <div mat-menu-item *ngFor="let p of productOnCart" style="cursor: default;" (click)="$event.stopPropagation();">
            <img [src]="p.image" alt="" style="width: 46px; margin: 2px; float: left;">
            <div class="row" style="width: 85%; margin-left: 10px; margin-top: 5px; float: left;">
                <div class="col">
                    <b>{{p.name}}</b>
                    <div>{{p.price}} đ</div>
                </div>
                <div class="col" style="text-align: right;">
                    <span class="badge badge-primary">{{ p.amount }}</span>
                    <span style="margin-left: 5px;">
                        <i class="fas fa-trash" style="vertical-align: middle; cursor: pointer;"
                            (click)="removeProductFromCart(p.id, $event)"></i>
                    </span>
                </div>
            </div>
        </div>
        <button disabled mat-menu-item *ngIf="productOnCart.length === 0"
            style="text-align: center; font-weight: bold; background-color: rgba(0,0,0,.12); margin-top: 10px; color: rgba(0,0,0,.26);">
            Checkout
        </button>
        <button mat-menu-item *ngIf="productOnCart.length !== 0" (click)="checkout()"
            style="text-align: center; font-weight: bold; background-color: #3f51b5; margin-top: 10px; color: white;">
            Checkout
        </button>
    </mat-menu>

    <button mat-button *ngIf="!fullNameUser" (click)="openLoginDialog()">
        Đăng nhập <i class="fas fa-sign-in-alt"></i>
    </button>
    <button mat-button [matMenuTriggerFor]="menuUser" *ngIf="fullNameUser">
        {{ fullNameUser }} <i class="fas fa-user"></i>
    </button>
    <mat-menu #menuUser="matMenu">
        <button mat-menu-item>
            <i class="fas fa-truck"></i> Đơn hàng của tôi
        </button>
        <button mat-menu-item disabled>
            <i class="fas fa-info-circle"></i> Thông tin cá nhân
        </button>
        <button mat-menu-item disabled>
            <i class="fas fa-key"></i> Đổi mật khẩu
        </button>
        <button mat-menu-item (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Đăng xuất
        </button>
    </mat-menu>
</mat-toolbar>
<div class="progress-area" *ngIf="!showLoader"></div>
<mat-progress-bar mode="indeterminate" *ngIf="showLoader"></mat-progress-bar>
<router-outlet></router-outlet>